<div class="row">
  <div class='col-md-1' >  
    <span class='<%= "alert-danger" if user.errors.details.keys.include?(:status) %>'  style="display: inherit;"  >
      <%= f.collection_select(:status,  enum_to_collection_select( User.defined_enums['status']), :key, :value, {selected: @user.status }, class: 'form-control') %>
      <label class='small form-text text-muted'>Status</label>
    </span>
    <br />
  </div>

  <div class="col-md-2">
    <%= link_to "Cancel", users_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
