<div class='col-sm-1'>
    <% if user.status.nil? %>
        <span class='alert-danger'>MISSING</span>
    <% else %>
      <%=  User.defined_enums['status'][user.status] %>
    <% end %>

</div>




<div class=" scaffold-line-buttons col-md-2" >
  

  
    <%= form_with url: user_path(user), html: {data: {'turbo-confirm': "Are you sure you want to delete #{ user.name }?"}, style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe,  class: "delete-user-button btn btn-primary btn-sm" %>
    <% end %>
  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_user_path(user), disable_with: "Loading...", class: "edit-user-button btn btn-primary btn-sm" %>
  
</div>
